body {

	margin-left: 20px;
	margin-top: 20px;
}

.tabbutton {
	width: 10%;
	padding: 10px;
	background-color: #b3b3b3;

}

.button {
	width:150px;
	padding: 5px;
	background-color: #b3b3b3;
}

input {
	width: 30%;
}

input[type=submit] {
	margin-top: 10px;
}

#content_add {
	margin-left: 20px;
	margin-top: 20px;
}

.numbers {
	margin-top: 20px;
	width: 150px;
}

.contact {
	margin-top: 20px;
}

#gesture_area {
	border: 3px solid green;
	width: 300px;
	height: 300px;
	margin-top: 10px;
}