body {

	background-color: black;
	margin-left: 20px;
	margin-top: 20px;
	color: white;
	font-size: 50px;
}

.tabbutton {
	width: 30%;
	padding: 10px;
	background-color: black;

}

.button {
	width:150px;
	padding: 5px;
	background-color: black;
}

input {
	width: 60%;
	color: black;

}

input[type=submit] {
	margin-top: 10px;
	background-color: black;
	color: yellow;
}

#content_add {
	margin-left: 20px;
	margin-top: 20px;
	background-color: black;
}

.numbers {
	margin-top: 20px;
	width: 300px;
	background-color: black;
}

.contact {
	margin-top: 20px;
	background-color: black;
}

#gesture_area {
	border: 3px solid green;
	width: 300px;
	height: 300px;
	margin-top: 10px;
	background-color: #DCDCDC;
}